streamlit
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-huggingface
langchain-classic
langchain-core
chromadb
pypdf
docx2txt
sentence-transformers




git config --global user.email "muhammadraheeq121@gmail.com"
git config --global user.name "Muhammad-Raheeq"