streamlit
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-huggingface
langchain-classic
langchain-core
chromadb==0.4.24
pypdf
docx2txt
torch
torchvision
sentence-transformers
numpy==1.26.4